# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
debug.log
error.log
stdout.log
stderr.log

# Build files
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Git local configs
.git/
